################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Webgentle.BookStore/obj
/Webgentle.BookStore/.vs/Webgentle.BookStore/v16
/Webgentle.BookStore/.vs/Webgentle.BookStore/config
/Webgentle.BookStore/bin/Debug/netcoreapp3.1
/FakeXiecheng.API/bin/Debug/netcoreapp3.1
